{% extends "base_template.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}

<form method="post">
    {{ form.hidden_tag() }}

    <h1>Signup</h1>

    {{ form.name.label }}
    {{ form.name() }}
    <br />
    {{ form.email.label }}
    {{ form.email() }}
    <br />
    {{ form.password.label }}
    {{ form.password() }}
    <br />
    {{ form.confirm_password.label }}
    {{ form.confirm_password() }}
    <br />
    <button><a style="text-decoration: none;" href="/">Cancel</a></button>
    {{ form.submit() }}

</form>

{% endblock %}